<img alt="IBM" align="right" src="https://raw.githubusercontent.com/dcinnovator/DS/master/IBM%20JUST%20LOGO%20SMALL.png" > <br><br><br><br>

## Table of Contents for Useful Python Commands for Data Preparation and Analysis

1. [Environment Commands](#env)
1. [Create/Read/Write/Populate/Describe files](#getfile)
1. [Handle Missing Values](#missing)
1. [Recode Variables](#recode)
1. [Autorecode Variables](#arecode)
1. [Rename Variables](#rename)
1. [](#)
1. [](#)
1. [](#)
1. [Loops](#loops)
1. [](#)
1. [](#)


<b><b/>


<b>My Notes for Python commands useful for data manipulation and analysis. Includes Pandas and sklearn.<b/>

In [2]:
#Import Libraries: there will be lots of redundant imports so the code can be run in separte chunks

#although there are many ways to manipulate files, pandas is widely used and should be familiar. 
#This example uses pandas for data manipulation.

import pandas as pd

<a id="env"></a>
#### Environment Commands

In [3]:
#print working directory- make sure to use % before pwd
import os as os
%pwd

'/home/dsxuser/work'

 <font color="blue">List Directory, Contents</font>

In [4]:
import os 
ListFiles = os.listdir(os.curdir) 
#use percent to print working directory inline within the print command (magic function)
ListDir = %pwd

print('Files:', ListFiles, 'Directory:', ListDir)

Files: [] Directory: /home/dsxuser/work

 <font color="blue">Install Git</font>

In [5]:
#conda install git
#not sure how to use yet

<a id="getfile"></a>
#### Create/Read/Write/Populate/Describe files
<b><b/>

In [6]:
#although there are many ways to manipulate files, pandas is widely used and should be familiar. 
#This example uses pandas for data manipulation.

import pandas as pd

#### Create Pandas df from Scratch

In [7]:
# Creating the first Dataframe using dictionary - much simpler than python below
myfile = pd.DataFrame({'ID':[1,2,3],'VAR0001':['A','B','C']}) 
myfile.head()

   ID VAR0001
0   1       A
1   2       B
2   3       C

#### Add line to data frame

In [8]:
#add a 4th row with 4,D, E. Notice it creates new variable for entire df. Use append. ignore_index prevents index from starting over with new data appended.
df2 = pd.DataFrame({'ID':[4],'VAR0001':['D'], 'VAR0002' :['E']}) 

myfile = myfile.append(df2, ignore_index = True)

#shorten myfile to mf
mf= myfile
mf.head()

   ID VAR0001 VAR0002
0   1       A     NaN
1   2       B     NaN
2   3       C     NaN
3   4       D       E

<a id="missing"></a>
#### Handle Missing Values
<b><b/>

In [9]:
#### Substitute NaN with 0
df3 = mf.fillna(0)
df3

   ID VAR0001 VAR0002
0   1       A       0
1   2       B       0
2   3       C       0
3   4       D       E

<a id="rename"></a>
#### Rename Variables

In [10]:
df4 = df3.rename(index=str, columns={"VAR0001": "Threat", "VAR0002": "Status"})
display(HTML(df4.to_html(index=False)))

NameError: name 'HTML' is not defined

<a id="recode"></a>
#### Recode Variables

<a id="arecode"></a>
#### Autoecode Variables

In [12]:
#renamed columns from earlier
df_cat = df3.rename(index=str, columns={"VAR0001": "Threat", "VAR0002": "Status"})

#Autorecode String to Numberic in ascending order categorical.from_arry().labels
df_cat['Threat_Numeric'] = pd.Categorical.from_array(df_cat.Threat).labels

#trick to drop ugly index column
from IPython.display import display, HTML
display(HTML(df_cat.to_html(index=False)))

/opt/conda/envs/DSX-Python35/lib/python3.5/site-packages/ipykernel/__main__.py:5: FutureWarning: Categorical.from_array is deprecated, use Categorical instead
/opt/conda/envs/DSX-Python35/lib/python3.5/site-packages/ipykernel/__main__.py:5: FutureWarning: 'labels' is deprecated. Use 'codes' instead

In [13]:
#to numeric manual- regex may come in handy later
df4['Threat'] = df4['Threat'].replace(regex='A', value=1)
df4['Threat'] = df4['Threat'].replace(regex='B', value=2)
df4['Threat'] = df4['Threat'].replace(regex='C', value=3)
df4['Threat'] = df4['Threat'].replace(regex='D', value=4)
df4['Threat'] = df4['Threat'].replace(regex='E', value=5)
df4


#df5 = df4.Threat.replace(to_replace=dict(A=None, B=Low, C= Medium, D= High)inplace=True)
                         
#w.female.replace(to_replace=dict(female=1, male=0), inplace=True)

   ID  Threat Status
0   1       1      0
1   2       2      0
2   3       3      0
3   4       4      E

In [14]:
df_cat

   ID Threat Status  Threat_Numeric
0   1      A      0               0
1   2      B      0               1
2   3      C      0               2
3   4      D      E               3

In [15]:
#manual recode string to string
df_cat['Threat'] = df_cat['Threat'].str.replace('A','None')
df_cat['Threat'] = df_cat['Threat'].str.replace('B','Low')
df_cat['Threat'] = df_cat['Threat'].str.replace('C','Medium')
df_cat['Threat'] = df_cat['Threat'].str.replace('D','High')

display(HTML(df_cat.to_html(index=False)))

In [16]:
#manual recode string to string c
a = df_cat['Threat'] = df_cat['Threat'].str.replace('A','None')
a = df_cat['Threat'] = df_cat['Threat'].str.replace('B','Low')
a = df_cat['Threat'] = df_cat['Threat'].str.replace('C','Medium')
a = df_cat['Threat'] = df_cat['Threat'].str.replace('D','High')

a

0      None
1       Low
2    Medium
3      High
Name: Threat, dtype: object

In [74]:
#WORK ON Get Dummies
df_cat = pd.concat([df_cat, pd.get_dummies(df_cat['Threat'], drop_first = True)], axis = 1])
df_cat.drop('female', axis = 1, inplace = True)

SyntaxError: invalid syntax (<ipython-input-74-67e96a4385d2>, line 4)

<font color="blue">Use sklearn to import data sample</font>

In [94]:
df

{'DESCR': 'Iris Plants Database\n====================\n\nNotes\n-----\nData Set Characteristics:\n    :Number of Instances: 150 (50 in each of three classes)\n    :Number of Attributes: 4 numeric, predictive attributes and the class\n    :Attribute Information:\n        - sepal length in cm\n        - sepal width in cm\n        - petal length in cm\n        - petal width in cm\n        - class:\n                - Iris-Setosa\n                - Iris-Versicolour\n                - Iris-Virginica\n    :Summary Statistics:\n\n    ============== ==== ==== ======= ===== ====================\n                    Min  Max   Mean    SD   Class Correlation\n    ============== ==== ==== ======= ===== ====================\n    sepal length:   4.3  7.9   5.84   0.83    0.7826\n    sepal width:    2.0  4.4   3.05   0.43   -0.4194\n    petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)\n    petal width:    0.1  2.5   1.20  0.76     0.9565  (high!)\n    ============== ==== ==== ======= ===== ====================\n\n    :Missing Attribute Values: None\n    :Class Distribution: 33.3% for each of 3 classes.\n    :Creator: R.A. Fisher\n    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)\n    :Date: July, 1988\n\nThis is a copy of UCI ML iris datasets.\nhttp://archive.ics.uci.edu/ml/datasets/Iris\n\nThe famous Iris database, first used by Sir R.A Fisher\n\nThis is perhaps the best known database to be found in the\npattern recognition literature.  Fisher\'s paper is a classic in the field and\nis referenced frequently to this day.  (See Duda & Hart, for example.)  The\ndata set contains 3 classes of 50 instances each, where each class refers to a\ntype of iris plant.  One class is linearly separable from the other 2; the\nlatter are NOT linearly separable from each other.\n\nReferences\n----------\n   - Fisher,R.A. "The use of multiple measurements in taxonomic problems"\n     Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to\n     Mathematical Statistics" (John Wiley, NY, 1950).\n   - Duda,R.O., & Hart,P.E. (1973) Pattern Classification and Scene Analysis.\n     (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.\n   - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System\n     Structure and Classification Rule for Recognition in Partially Exposed\n     Environments".  IEEE Transactions on Pattern Analysis and Machine\n     Intelligence, Vol. PAMI-2, No. 1, 67-71.\n   - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions\n     on Information Theory, May 1972, 431-433.\n   - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II\n     conceptual clustering system finds 3 classes in the data.\n   - Many, many more ...\n',
 'data': array([[ 5.1,  3.5,  1.4,  0.2],
        [ 4.9,  3. ,  1.4,  0.2],
        [ 4.7,  3.2,  1.3,  0.2],
        [ 4.6,  3.1,  1.5,  0.2],
        [ 5. ,  3.6,  1.4,  0.2],
        [ 5.4,  3.9,  1.7,  0.4],
        [ 4.6,  3.4,  1.4,  0.3],
        [ 5. ,  3.4,  1.5,  0.2],
        [ 4.4,  2.9,  1.4,  0.2],
        [ 4.9,  3.1,  1.5,  0.1],
        [ 5.4,  3.7,  1.5,  0.2],
        [ 4.8,  3.4,  1.6,  0.2],
        [ 4.8,  3. ,  1.4,  0.1],
        [ 4.3,  3. ,  1.1,  0.1],
        [ 5.8,  4. ,  1.2,  0.2],
        [ 5.7,  4.4,  1.5,  0.4],
        [ 5.4,  3.9,  1.3,  0.4],
        [ 5.1,  3.5,  1.4,  0.3],
        [ 5.7,  3.8,  1.7,  0.3],
        [ 5.1,  3.8,  1.5,  0.3],
        [ 5.4,  3.4,  1.7,  0.2],
        [ 5.1,  3.7,  1.5,  0.4],
        [ 4.6,  3.6,  1. ,  0.2],
        [ 5.1,  3.3,  1.7,  0.5],
        [ 4.8,  3.4,  1.9,  0.2],
        [ 5. ,  3. ,  1.6,  0.2],
        [ 5. ,  3.4,  1.6,  0.4],
        [ 5.2,  3.5,  1.5,  0.2],
        [ 5.2,  3.4,  1.4,  0.2],
        [ 4.7,  3.2,  1.6,  0.2],
        [ 4.8,  3.1,  1.6,  0.2],
        [ 5.4,  3.4,  1.5,  0.4],
        [ 5.2,  4.1,  1.5,  0.1],
        [ 5.5,  4.2,  1.4,  0.2],
        [ 4.9,  3.1,  1.5,  0.1],
        [ 5. ,  3.2,  1.2,  0.2],
        [ 5.5,  3.5,  1.3,  0.2],
        [ 4.9,  3.1,  1.5,  0.1],
        [ 4.4,  3. ,  1.3,  0.2],
        [ 5.1,  3.4,  1.5,  0.2],
        [ 5. ,  3.5,  1.3,  0.3],
        [ 4.5,  2.3,  1.3,  0.3],
        [ 4.4,  3.2,  1.3,  0.2],
        [ 5. ,  3.5,  1.6,  0.6],
        [ 5.1,  3.8,  1.9,  0.4],
        [ 4.8,  3. ,  1.4,  0.3],
        [ 5.1,  3.8,  1.6,  0.2],
        [ 4.6,  3.2,  1.4,  0.2],
        [ 5.3,  3.7,  1.5,  0.2],
        [ 5. ,  3.3,  1.4,  0.2],
        [ 7. ,  3.2,  4.7,  1.4],
        [ 6.4,  3.2,  4.5,  1.5],
        [ 6.9,  3.1,  4.9,  1.5],
        [ 5.5,  2.3,  4. ,  1.3],
        [ 6.5,  2.8,  4.6,  1.5],
        [ 5.7,  2.8,  4.5,  1.3],
        [ 6.3,  3.3,  4.7,  1.6],
        [ 4.9,  2.4,  3.3,  1. ],
        [ 6.6,  2.9,  4.6,  1.3],
        [ 5.2,  2.7,  3.9,  1.4],
        [ 5. ,  2. ,  3.5,  1. ],
        [ 5.9,  3. ,  4.2,  1.5],
        [ 6. ,  2.2,  4. ,  1. ],
        [ 6.1,  2.9,  4.7,  1.4],
        [ 5.6,  2.9,  3.6,  1.3],
        [ 6.7,  3.1,  4.4,  1.4],
        [ 5.6,  3. ,  4.5,  1.5],
        [ 5.8,  2.7,  4.1,  1. ],
        [ 6.2,  2.2,  4.5,  1.5],
        [ 5.6,  2.5,  3.9,  1.1],
        [ 5.9,  3.2,  4.8,  1.8],
        [ 6.1,  2.8,  4. ,  1.3],
        [ 6.3,  2.5,  4.9,  1.5],
        [ 6.1,  2.8,  4.7,  1.2],
        [ 6.4,  2.9,  4.3,  1.3],
        [ 6.6,  3. ,  4.4,  1.4],
        [ 6.8,  2.8,  4.8,  1.4],
        [ 6.7,  3. ,  5. ,  1.7],
        [ 6. ,  2.9,  4.5,  1.5],
        [ 5.7,  2.6,  3.5,  1. ],
        [ 5.5,  2.4,  3.8,  1.1],
        [ 5.5,  2.4,  3.7,  1. ],
        [ 5.8,  2.7,  3.9,  1.2],
        [ 6. ,  2.7,  5.1,  1.6],
        [ 5.4,  3. ,  4.5,  1.5],
        [ 6. ,  3.4,  4.5,  1.6],
        [ 6.7,  3.1,  4.7,  1.5],
        [ 6.3,  2.3,  4.4,  1.3],
        [ 5.6,  3. ,  4.1,  1.3],
        [ 5.5,  2.5,  4. ,  1.3],
        [ 5.5,  2.6,  4.4,  1.2],
        [ 6.1,  3. ,  4.6,  1.4],
        [ 5.8,  2.6,  4. ,  1.2],
        [ 5. ,  2.3,  3.3,  1. ],
        [ 5.6,  2.7,  4.2,  1.3],
        [ 5.7,  3. ,  4.2,  1.2],
        [ 5.7,  2.9,  4.2,  1.3],
        [ 6.2,  2.9,  4.3,  1.3],
        [ 5.1,  2.5,  3. ,  1.1],
        [ 5.7,  2.8,  4.1,  1.3],
        [ 6.3,  3.3,  6. ,  2.5],
        [ 5.8,  2.7,  5.1,  1.9],
        [ 7.1,  3. ,  5.9,  2.1],
        [ 6.3,  2.9,  5.6,  1.8],
        [ 6.5,  3. ,  5.8,  2.2],
        [ 7.6,  3. ,  6.6,  2.1],
        [ 4.9,  2.5,  4.5,  1.7],
        [ 7.3,  2.9,  6.3,  1.8],
        [ 6.7,  2.5,  5.8,  1.8],
        [ 7.2,  3.6,  6.1,  2.5],
        [ 6.5,  3.2,  5.1,  2. ],
        [ 6.4,  2.7,  5.3,  1.9],
        [ 6.8,  3. ,  5.5,  2.1],
        [ 5.7,  2.5,  5. ,  2. ],
        [ 5.8,  2.8,  5.1,  2.4],
        [ 6.4,  3.2,  5.3,  2.3],
        [ 6.5,  3. ,  5.5,  1.8],
        [ 7.7,  3.8,  6.7,  2.2],
        [ 7.7,  2.6,  6.9,  2.3],
        [ 6. ,  2.2,  5. ,  1.5],
        [ 6.9,  3.2,  5.7,  2.3],
        [ 5.6,  2.8,  4.9,  2. ],
        [ 7.7,  2.8,  6.7,  2. ],
        [ 6.3,  2.7,  4.9,  1.8],
        [ 6.7,  3.3,  5.7,  2.1],
        [ 7.2,  3.2,  6. ,  1.8],
        [ 6.2,  2.8,  4.8,  1.8],
        [ 6.1,  3. ,  4.9,  1.8],
        [ 6.4,  2.8,  5.6,  2.1],
        [ 7.2,  3. ,  5.8,  1.6],
        [ 7.4,  2.8,  6.1,  1.9],
        [ 7.9,  3.8,  6.4,  2. ],
        [ 6.4,  2.8,  5.6,  2.2],
        [ 6.3,  2.8,  5.1,  1.5],
        [ 6.1,  2.6,  5.6,  1.4],
        [ 7.7,  3. ,  6.1,  2.3],
        [ 6.3,  3.4,  5.6,  2.4],
        [ 6.4,  3.1,  5.5,  1.8],
        [ 6. ,  3. ,  4.8,  1.8],
        [ 6.9,  3.1,  5.4,  2.1],
        [ 6.7,  3.1,  5.6,  2.4],
        [ 6.9,  3.1,  5.1,  2.3],
        [ 5.8,  2.7,  5.1,  1.9],
        [ 6.8,  3.2,  5.9,  2.3],
        [ 6.7,  3.3,  5.7,  2.5],
        [ 6.7,  3. ,  5.2,  2.3],
        [ 6.3,  2.5,  5. ,  1.9],
        [ 6.5,  3. ,  5.2,  2. ],
        [ 6.2,  3.4,  5.4,  2.3],
        [ 5.9,  3. ,  5.1,  1.8]]),
 'feature_names': ['sepal length (cm)',
  'sepal width (cm)',
  'petal length (cm)',
  'petal width (cm)'],
 'target': array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]),
 'target_names': array(['setosa', 'versicolor', 'virginica'],
       dtype='<U10')}

In [104]:
#import data from sklearn using load_
import pandas as pd
from sklearn import datasets as d
df = d.load_iris()
print(type(df))
df

#convert to pandas dataset
iris_data = datasets.load_iris()
iris_data1 = datasets.load_iris()
iris_data = pd.DataFrame(iris_data.data,columns=iris_data.feature_names)
iris_data1= pd.DataFrame(iris_data1.data,columns=iris_data.target)
#df_iris['target'] = pd.Series(iris_data.target_names)
iris_data1.head()

# boston_data = datasets.load_boston()
# df_boston = pd.DataFrame(boston_data.data,columns=boston_data.feature_names)
# df_boston['target'] = pd.Series(boston_data.target)
# df_boston.head()

<class 'sklearn.utils.Bunch'>

AttributeError: 'DataFrame' object has no attribute 'target'

In [97]:
from sklearn import datasets
import pandas as pd

boston_data = datasets.load_boston()
df_boston = pd.DataFrame(boston_data.data,columns=boston_data.feature_names)
df_boston['target'] = pd.Series(boston_data.target)
df_boston.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,target
0,6.32e-03,18.0,2.31,0.0,0.54,6.58,65.2,4.09,1.0,296.0,15.3,396.90,4.98,24.0
1,2.73e-02,0.0,7.07,0.0,0.47,6.42,78.9,4.97,2.0,242.0,17.8,396.90,9.14,21.6
2,2.73e-02,0.0,7.07,0.0,0.47,7.18,61.1,4.97,2.0,242.0,17.8,392.83,4.03,34.7
3,3.24e-02,0.0,2.18,0.0,0.46,7.00,45.8,6.06,3.0,222.0,18.7,394.63,2.94,33.4
4,6.91e-02,0.0,2.18,0.0,0.46,7.15,54.2,6.06,3.0,222.0,18.7,396.90,5.33,36.2

In [98]:
boston_data

{'DESCR': "Boston House Prices dataset\n===========================\n\nNotes\n------\nData Set Characteristics:  \n\n    :Number of Instances: 506 \n\n    :Number of Attributes: 13 numeric/categorical predictive\n    \n    :Median Value (attribute 14) is usually the target\n\n    :Attribute Information (in order):\n        - CRIM     per capita crime rate by town\n        - ZN       proportion of residential land zoned for lots over 25,000 sq.ft.\n        - INDUS    proportion of non-retail business acres per town\n        - CHAS     Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)\n        - NOX      nitric oxides concentration (parts per 10 million)\n        - RM       average number of rooms per dwelling\n        - AGE      proportion of owner-occupied units built prior to 1940\n        - DIS      weighted distances to five Boston employment centres\n        - RAD      index of accessibility to radial highways\n        - TAX      full-value property-tax rate per $10,000\n        - PTRATIO  pupil-teacher ratio by town\n        - B        1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town\n        - LSTAT    % lower status of the population\n        - MEDV     Median value of owner-occupied homes in $1000's\n\n    :Missing Attribute Values: None\n\n    :Creator: Harrison, D. and Rubinfeld, D.L.\n\nThis is a copy of UCI ML housing dataset.\nhttp://archive.ics.uci.edu/ml/datasets/Housing\n\n\nThis dataset was taken from the StatLib library which is maintained at Carnegie Mellon University.\n\nThe Boston house-price data of Harrison, D. and Rubinfeld, D.L. 'Hedonic\nprices and the demand for clean air', J. Environ. Economics & Management,\nvol.5, 81-102, 1978.   Used in Belsley, Kuh & Welsch, 'Regression diagnostics\n...', Wiley, 1980.   N.B. Various transformations are used in the table on\npages 244-261 of the latter.\n\nThe Boston house-price data has been used in many machine learning papers that address regression\nproblems.   \n     \n**References**\n\n   - Belsley, Kuh & Welsch, 'Regression diagnostics: Identifying Influential Data and Sources of Collinearity', Wiley, 1980. 244-261.\n   - Quinlan,R. (1993). Combining Instance-Based and Model-Based Learning. In Proceedings on the Tenth International Conference of Machine Learning, 236-243, University of Massachusetts, Amherst. Morgan Kaufmann.\n   - many more! (see http://archive.ics.uci.edu/ml/datasets/Housing)\n",
 'data': array([[  6.32000000e-03,   1.80000000e+01,   2.31000000e+00, ...,
           1.53000000e+01,   3.96900000e+02,   4.98000000e+00],
        [  2.73100000e-02,   0.00000000e+00,   7.07000000e+00, ...,
           1.78000000e+01,   3.96900000e+02,   9.14000000e+00],
        [  2.72900000e-02,   0.00000000e+00,   7.07000000e+00, ...,
           1.78000000e+01,   3.92830000e+02,   4.03000000e+00],
        ...,
        [  6.07600000e-02,   0.00000000e+00,   1.19300000e+01, ...,
           2.10000000e+01,   3.96900000e+02,   5.64000000e+00],
        [  1.09590000e-01,   0.00000000e+00,   1.19300000e+01, ...,
           2.10000000e+01,   3.93450000e+02,   6.48000000e+00],
        [  4.74100000e-02,   0.00000000e+00,   1.19300000e+01, ...,
           2.10000000e+01,   3.96900000e+02,   7.88000000e+00]]),
 'feature_names': array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
        'TAX', 'PTRATIO', 'B', 'LSTAT'],
       dtype='<U7'),
 'target': array([ 24. ,  21.6,  34.7,  33.4,  36.2,  28.7,  22.9,  27.1,  16.5,
         18.9,  15. ,  18.9,  21.7,  20.4,  18.2,  19.9,  23.1,  17.5,
         20.2,  18.2,  13.6,  19.6,  15.2,  14.5,  15.6,  13.9,  16.6,
         14.8,  18.4,  21. ,  12.7,  14.5,  13.2,  13.1,  13.5,  18.9,
         20. ,  21. ,  24.7,  30.8,  34.9,  26.6,  25.3,  24.7,  21.2,
         19.3,  20. ,  16.6,  14.4,  19.4,  19.7,  20.5,  25. ,  23.4,
         18.9,  35.4,  24.7,  31.6,  23.3,  19.6,  18.7,  16. ,  22.2,
         25. ,  33. ,  23.5,  19.4,  22. ,  17.4,  20.9,  24.2,  21.7,
         22.8,  23.4,  24.1,  21.4,  20. ,  20.8,  21.2,  20.3,  28. ,
         23.9,  24.8,  22.9,  23.9,  26.6,  22.5,  22.2,  23.6,  28.7,
         22.6,  22. ,  22.9,  25. ,  20.6,  28.4,  21.4,  38.7,  43.8,
         33.2,  27.5,  26.5,  18.6,  19.3,  20.1,  19.5,  19.5,  20.4,
         19.8,  19.4,  21.7,  22.8,  18.8,  18.7,  18.5,  18.3,  21.2,
         19.2,  20.4,  19.3,  22. ,  20.3,  20.5,  17.3,  18.8,  21.4,
         15.7,  16.2,  18. ,  14.3,  19.2,  19.6,  23. ,  18.4,  15.6,
         18.1,  17.4,  17.1,  13.3,  17.8,  14. ,  14.4,  13.4,  15.6,
         11.8,  13.8,  15.6,  14.6,  17.8,  15.4,  21.5,  19.6,  15.3,
         19.4,  17. ,  15.6,  13.1,  41.3,  24.3,  23.3,  27. ,  50. ,
         50. ,  50. ,  22.7,  25. ,  50. ,  23.8,  23.8,  22.3,  17.4,
         19.1,  23.1,  23.6,  22.6,  29.4,  23.2,  24.6,  29.9,  37.2,
         39.8,  36.2,  37.9,  32.5,  26.4,  29.6,  50. ,  32. ,  29.8,
         34.9,  37. ,  30.5,  36.4,  31.1,  29.1,  50. ,  33.3,  30.3,
         34.6,  34.9,  32.9,  24.1,  42.3,  48.5,  50. ,  22.6,  24.4,
         22.5,  24.4,  20. ,  21.7,  19.3,  22.4,  28.1,  23.7,  25. ,
         23.3,  28.7,  21.5,  23. ,  26.7,  21.7,  27.5,  30.1,  44.8,
         50. ,  37.6,  31.6,  46.7,  31.5,  24.3,  31.7,  41.7,  48.3,
         29. ,  24. ,  25.1,  31.5,  23.7,  23.3,  22. ,  20.1,  22.2,
         23.7,  17.6,  18.5,  24.3,  20.5,  24.5,  26.2,  24.4,  24.8,
         29.6,  42.8,  21.9,  20.9,  44. ,  50. ,  36. ,  30.1,  33.8,
         43.1,  48.8,  31. ,  36.5,  22.8,  30.7,  50. ,  43.5,  20.7,
         21.1,  25.2,  24.4,  35.2,  32.4,  32. ,  33.2,  33.1,  29.1,
         35.1,  45.4,  35.4,  46. ,  50. ,  32.2,  22. ,  20.1,  23.2,
         22.3,  24.8,  28.5,  37.3,  27.9,  23.9,  21.7,  28.6,  27.1,
         20.3,  22.5,  29. ,  24.8,  22. ,  26.4,  33.1,  36.1,  28.4,
         33.4,  28.2,  22.8,  20.3,  16.1,  22.1,  19.4,  21.6,  23.8,
         16.2,  17.8,  19.8,  23.1,  21. ,  23.8,  23.1,  20.4,  18.5,
         25. ,  24.6,  23. ,  22.2,  19.3,  22.6,  19.8,  17.1,  19.4,
         22.2,  20.7,  21.1,  19.5,  18.5,  20.6,  19. ,  18.7,  32.7,
         16.5,  23.9,  31.2,  17.5,  17.2,  23.1,  24.5,  26.6,  22.9,
         24.1,  18.6,  30.1,  18.2,  20.6,  17.8,  21.7,  22.7,  22.6,
         25. ,  19.9,  20.8,  16.8,  21.9,  27.5,  21.9,  23.1,  50. ,
         50. ,  50. ,  50. ,  50. ,  13.8,  13.8,  15. ,  13.9,  13.3,
         13.1,  10.2,  10.4,  10.9,  11.3,  12.3,   8.8,   7.2,  10.5,
          7.4,  10.2,  11.5,  15.1,  23.2,   9.7,  13.8,  12.7,  13.1,
         12.5,   8.5,   5. ,   6.3,   5.6,   7.2,  12.1,   8.3,   8.5,
          5. ,  11.9,  27.9,  17.2,  27.5,  15. ,  17.2,  17.9,  16.3,
          7. ,   7.2,   7.5,  10.4,   8.8,   8.4,  16.7,  14.2,  20.8,
         13.4,  11.7,   8.3,  10.2,  10.9,  11. ,   9.5,  14.5,  14.1,
         16.1,  14.3,  11.7,  13.4,   9.6,   8.7,   8.4,  12.8,  10.5,
         17.1,  18.4,  15.4,  10.8,  11.8,  14.9,  12.6,  14.1,  13. ,
         13.4,  15.2,  16.1,  17.8,  14.9,  14.1,  12.7,  13.5,  14.9,
         20. ,  16.4,  17.7,  19.5,  20.2,  21.4,  19.9,  19. ,  19.1,
         19.1,  20.1,  19.9,  19.6,  23.2,  29.8,  13.8,  13.3,  16.7,
         12. ,  14.6,  21.4,  23. ,  23.7,  25. ,  21.8,  20.6,  21.2,
         19.1,  20.6,  15.2,   7. ,   8.1,  13.6,  20.1,  21.8,  24.5,
         23.1,  19.7,  18.3,  21.2,  17.5,  16.8,  22.4,  20.6,  23.9,
         22. ,  11.9])}

<b> Select Columns and Rows<b/>

<font color="blue">Select Columns and Rows by Number</font>

In [82]:
# pd.options.display.notebook_repr_html = True
# df = pd.DataFrame(d.data, columns=d.feature_names)
# df['y'] = d.target
# df.head()

#df.colummns selects first 4 columns of data. ix selects 1st, 2nd, 3rd and 7th rows of the table 
pd.set_option('precision',2)
df[df.columns[:4]].describe().ix[[1,2,3,7]]

AttributeError: columns

<b>Merge Files</b>

In [26]:
data1 = pd.DataFrame({'X1':['a','b','c'],'X2':['1','2','3']}) 
data2 = pd.DataFrame({'X1':['a','b','d'], 'X3':['2','4','8']})

from IPython.display import display, HTML
#display_side_by_side((display(HTML(data1.to_html(index=False)))), (display(HTML(data2.to_html(index=False)))))

display(HTML(data1.to_html(index=False)))

In [47]:
#Left Join: only include keys from data1
df_LeftJoin = pd.merge(data1, data2, how='left', on='X1')
display_side_by_side(data1, data2, df_LeftJoin)

In [45]:
#Right Join: only include keys from data2
df_RightJoin = pd.merge(data1, data2, how='right', on='X1')
display_side_by_side(data1, data2, df_RightJoin)

In [46]:
#Inner Join: only key values present in both data1 and data2
df_InnerJoin = pd.merge(data1, data2, how='inner', on='X1')
display_side_by_side(data1, data2, df_InnerJoin)

In [29]:
#Outer Join: key values in either data1 or data2
df_OuterJoin = pd.merge(data1, data2, how='outer', on='X1')
display_side_by_side(data1, data2, df_OuterJoin)

Join

In [ ]:
#data1.join(data2, how='right')

<b>Rename Variables No Space<b/>

In [ ]:
#df.columns = [c.replace(' ', '_') for c in df.columns]

In [7]:
# #print attributes of dataframe

print('File Shape = ' + str(mf.shape), 
      'File Size (Row Xs Columns) = ' + str(mf.size), 
      'N = '+ str(len(mf.index)), 
      'File Data Types are:', mf.dtypes
       , sep='\n')

File Shape = (4, 2)
File Size (Row Xs Columns) = 8
N = 4
File Data Types are:
ID          int64
VAR0001    object
dtype: object

<b>Data Types<b/>

In [25]:
# type for ID and VAR0001
x = type(mf.ID[0])
y = type(mf.VAR0001[0])
print(x,y)

<class 'numpy.int64'> <class 'str'>

<b>Directory Listing and Interrogating<b/>

In [4]:
#list what objects are in a specific directory
# import os
# entries = os.listdir('/resources/data')
# print(entries)

#print the current working directory and the files in the cwd

import os 
files = os.listdir(os.curdir) 
#use percent to print working directory inline
files1 = %pwd

print(files, files1)

['MY NOTES.ipynb', '.ipynb_checkpoints'] /Users/jparryus.ibm.com/Box Sync/Notebooks

In [ ]:
import pandas as pd

In [19]:
#creating output format
from IPython.display import display_html
def display_side_by_side(*args):
    html_str=''
    for df in args:
        html_str+=df.to_html()
    display_html(html_str.replace('table','table style="display:inline"'),raw=True)

In [8]:
data1 = pd.read_csv('/Users/jparryus.ibm.com/Box Sync/Learning/PYRK8/Pandas Merge/data1.csv')
data2 = pd.read_csv('/Users/jparryus.ibm.com/Box Sync/Learning/PYRK8/Pandas Merge/data12.csv')
data3 = pd.read_csv('/Users/jparryus.ibm.com/Box Sync/Learning/PYRK8/Pandas Merge/data12.csv')

display_side_by_side(data1,data2, data3)

,X1,X2
0,a,1
1,b,2
2,c,3
,X1,X3
0,a,2
1,b,4
2,d,8
,X1,X3
0,a,2
1,b,4
2,d,8

In [ ]:
data1.

In [10]:
datax = data1.to_html()
datax

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>X1</th>\n      <th>X2</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>a</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>b</td>\n      <td>2</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>c</td>\n      <td>3</td>\n    </tr>\n  </tbody>\n</table>'

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>X1</th>\n      <th>X2</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>a</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>b</td>\n      <td>2</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>c</td>\n      <td>3</td>\n    </tr>\n  </tbody>\n</table>'

In [38]:
x = mf.VAR0001[0].lower()
x

'a'

<b>Strings<b/>

<b> Later<b/>

<a id="loops"></a>
#### Loops

In [67]:
#Ex1 print each member of the tuple


#Ex1 print each member of the tuple
#the +1 and -1 aren't necessary but show flexibility


t = ("1",2,3,4,'5')
i = len(t)-1
for anyword in range(i+1):
    print(t[anyword])

# tuple1 = ("disco",10,1.2 )
# i = len(tuple1)
# i=(i+30)
# for i in range(i-30):
#     print(tuple1[i])

    
    #Ex1 print each member of the tuple

# tuple1 = ("disco",10,1.2 )
# i = len(tuple1)
# i=(i-1)
# for i in range(i+1):
#     print(tuple1[i])

1
2
3
4
5

In [69]:
print(t[1-1])

1

In [77]:
#Ex2 print each nested member of the tuple
NestedT = ((1, 2), (3,4,5),(6,7,8,9),(10,11,12,13,14))
n = NestedT
a = len(n)



for i in range(a):
    b = n[i]
    c = b[i:a]
    print(c)
  

# for i in range(a):
#     b = n[i]
#     c = b[i:a+(i+)]
#     print(c)

(1, 2)
(4, 5)
(8, 9)
(13,)

In [74]:
#loop this (above)


print("Element 1, 1 of Tuple: ",   n[0][0])
print("Element 1, 2 of Tuple: ",   n[0][1])
print("Element 2, 1 of Tuple: ",   n[1][0])
print("Element 2, 2 of Tuple: ",   n[1][1])
print("Element 2, 3 of Tuple: ",   n[1][2])

Element 1, 1 of Tuple:  1
Element 1, 2 of Tuple:  2
Element 2, 1 of Tuple:  3
Element 2, 2 of Tuple:  4
Element 2, 3 of Tuple:  5

In [ ]:
#create a separate csv for each row: LATER

#for ID in myfile:
#    TheCurrentMonth = pd.read_csv('MonthlyDataSplit/Day/Day%s.csv' % EachMonth)
#    MeanDailyTemperaturesForCurrentMonth = TheCurrentMonth.groupby('Day')['AirTemperature'].mean().reset_index(name='MeanDailyAirTemperature')
#     with open('my_csv.csv', 'a') as f:
#         df.to_csv(f, header=False)

<b>Crosstabulation and Descriptives<b/>

In [ ]:
#pd.crosstab(df.City, df.Complaint_Type, rownames = ['A'], colnames= 'B')

['MY NOTES.ipynb', '.ipynb_checkpoints'] /Users/jparryus.ibm.com/Box Sync/Notebooks

In [2]:
# data1 = pd.read_csv('/Users/jparryus.ibm.com/Box Sync/Learning/PYRK8/Pandas Merge/data1.csv')
# data2 = pd.read_csv('/Users/jparryus.ibm.com/Box Sync/Learning/PYRK8/Pandas Merge/data12.csv')

data1.head()

  X1  X2
0  a   1
1  b   2
2  c   3

<b>Output Formatting</b>

In [ ]:
#creating output format that will place output tables side by side
from IPython.display import display_html
def display_side_by_side(*args):
    html_str=''
    for df in args:
        html_str+=df.to_html()
    display_html(html_str.replace('table','table style="display:inline"'),raw=True)

#### Get rid of ugly index in header tables

In [11]:
#make data1. Use 
data1 = pd.DataFrame({'X1':['a','b','c'],'X2':['1','2','3']}) 
#from: https://stackoverflow.com/questions/21256013/pandas-dataframe-hide-index-functionality, searched: suppress index from header

from IPython.display import display, HTML

#display(HTML(DATAFRAME.to_html(index=False)))
display(HTML(data1.to_html(index=False)))

<b>First Attempts<b/>

In [ ]:
################################Other Attempts######################################    
# #create data out of thin air! Probably not the best way to do it, but it works :)
# with open('/resources/data/xample1.txt', 'w') as writefile:
#     writefile.write('ID, VAR0001 \n')
#     writefile.write('1,A \n')
#     writefile.write('2,B \n')
#     writefile.write('3,C \n')
    
#add column names using Pandas
#if there were no header, this is how you add a header/var names in pandas
#myfile = pd.read_csv('/resources/data/xample1.txt', 
#                  sep='\,', 
#                  names=['ID', 'VAR0001'])
#myfile = pd.read_csv('/resources/data/xample1.txt', sep=',')
# Check whether write to file worked
#Create a file called xample1 and populate with 3 rows and three columns each corresponding to 1,A /n 2,B .... etc. 

#create file
#f= open("/resources/data/xample1.txt","w+")

<img alt="IBM" align="right" src="https://raw.githubusercontent.com/dcinnovator/DS/master/IBM%20LOGO%20small.png" > <br><br><br><br>