<img alt="IBM" align="right" src="https://raw.githubusercontent.com/dcinnovator/DS/master/IBM%20JUST%20LOGO%20SMALL.png" > <br><br><br><br>

## Table of Contents for Useful Python Commands for Data Preparation and Analysis

1. [Environment Commands](#env)
1. [Create/Read/Write/Populate/Describe files](#getfile)
1. [Handle Missing Values](#missing)
1. [Recode Variables](#recode)
1. [Autorecode Variables](#arecode)
1. [Rename Variables](#rename)
1. [](#)
1. [](#)
1. [](#)
1. [](#)
1. [](#)
1. [](#)


<b><b/>


<b>My Notes for Python commands useful for data manipulation and analysis. Includes Pandas and sklearn.<b/>

In [2]:
#Import Libraries: there will be lots of redundant imports so the code can be run in separte chunks

#although there are many ways to manipulate files, pandas is widely used and should be familiar. 
#This example uses pandas for data manipulation.

import pandas as pd

<a id="env"></a>
#### Environment Commands

In [3]:
#print working directory- make sure to use % before pwd
import os as os
%pwd

'/home/dsxuser/work'

 <font color="blue">List Directory, Contents</font>

In [4]:
import os 
ListFiles = os.listdir(os.curdir) 
#use percent to print working directory inline within the print command (magic function)
ListDir = %pwd

print('Files:', ListFiles, 'Directory:', ListDir)

Files: [] Directory: /home/dsxuser/work

 <font color="blue">Install Git</font>

In [5]:
#conda install git
#not sure how to use yet

<a id="getfile"></a>
#### Create/Read/Write/Populate/Describe files
<b><b/>

In [6]:
#although there are many ways to manipulate files, pandas is widely used and should be familiar. 
#This example uses pandas for data manipulation.

import pandas as pd

#### Create Pandas df from Scratch

In [7]:
# Creating the first Dataframe using dictionary - much simpler than python below
myfile = pd.DataFrame({'ID':[1,2,3],'VAR0001':['A','B','C']}) 
myfile.head()

   ID VAR0001
0   1       A
1   2       B
2   3       C

#### Add line to data frame

In [8]:
#add a 4th row with 4,D, E. Notice it creates new variable for entire df. Use append. ignore_index prevents index from starting over with new data appended.
df2 = pd.DataFrame({'ID':[4],'VAR0001':['D'], 'VAR0002' :['E']}) 

myfile = myfile.append(df2, ignore_index = True)

#shorten myfile to mf
mf= myfile
mf.head()

   ID VAR0001 VAR0002
0   1       A     NaN
1   2       B     NaN
2   3       C     NaN
3   4       D       E

<a id="missing"></a>
#### Handle Missing Values
<b><b/>

In [9]:
#### Substitute NaN with 0
df3 = mf.fillna(0)
df3

   ID VAR0001 VAR0002
0   1       A       0
1   2       B       0
2   3       C       0
3   4       D       E

<a id="rename"></a>
#### Rename Variables

In [10]:
df4 = df3.rename(index=str, columns={"VAR0001": "Threat", "VAR0002": "Status"})
display(HTML(df4.to_html(index=False)))

NameError: name 'HTML' is not defined

<a id="recode"></a>
#### Recode Variables

<a id="arecode"></a>
#### Autoecode Variables

In [12]:
#renamed columns from earlier
df_cat = df3.rename(index=str, columns={"VAR0001": "Threat", "VAR0002": "Status"})

#Autorecode String to Numberic in ascending order categorical.from_arry().labels
df_cat['Threat_Numeric'] = pd.Categorical.from_array(df_cat.Threat).labels

#trick to drop ugly index column
from IPython.display import display, HTML
display(HTML(df_cat.to_html(index=False)))

/opt/conda/envs/DSX-Python35/lib/python3.5/site-packages/ipykernel/__main__.py:5: FutureWarning: Categorical.from_array is deprecated, use Categorical instead
/opt/conda/envs/DSX-Python35/lib/python3.5/site-packages/ipykernel/__main__.py:5: FutureWarning: 'labels' is deprecated. Use 'codes' instead

In [13]:
#to numeric manual- regex may come in handy later
df4['Threat'] = df4['Threat'].replace(regex='A', value=1)
df4['Threat'] = df4['Threat'].replace(regex='B', value=2)
df4['Threat'] = df4['Threat'].replace(regex='C', value=3)
df4['Threat'] = df4['Threat'].replace(regex='D', value=4)
df4['Threat'] = df4['Threat'].replace(regex='E', value=5)
df4


#df5 = df4.Threat.replace(to_replace=dict(A=None, B=Low, C= Medium, D= High)inplace=True)
                         
#w.female.replace(to_replace=dict(female=1, male=0), inplace=True)

   ID  Threat Status
0   1       1      0
1   2       2      0
2   3       3      0
3   4       4      E

In [14]:
df_cat

   ID Threat Status  Threat_Numeric
0   1      A      0               0
1   2      B      0               1
2   3      C      0               2
3   4      D      E               3

In [15]:
#manual recode string to string
df_cat['Threat'] = df_cat['Threat'].str.replace('A','None')
df_cat['Threat'] = df_cat['Threat'].str.replace('B','Low')
df_cat['Threat'] = df_cat['Threat'].str.replace('C','Medium')
df_cat['Threat'] = df_cat['Threat'].str.replace('D','High')

display(HTML(df_cat.to_html(index=False)))

In [16]:
#manual recode string to string c
a = df_cat['Threat'] = df_cat['Threat'].str.replace('A','None')
a = df_cat['Threat'] = df_cat['Threat'].str.replace('B','Low')
a = df_cat['Threat'] = df_cat['Threat'].str.replace('C','Medium')
a = df_cat['Threat'] = df_cat['Threat'].str.replace('D','High')

a

0      None
1       Low
2    Medium
3      High
Name: Threat, dtype: object

In [74]:
#WORK ON Get Dummies
df_cat = pd.concat([df_cat, pd.get_dummies(df_cat['Threat'], drop_first = True)], axis = 1])
df_cat.drop('female', axis = 1, inplace = True)

SyntaxError: invalid syntax (<ipython-input-74-67e96a4385d2>, line 4)

<font color="blue">Use sklearn to import data sample</font>

In [41]:
#import data from sklearn using load_
import pandas as pd
from sklearn import datasets as d
d = d.load_iris()
#d

<b> Select Columns and Rows<b/>

<font color="blue">Select Columns and Rows by Number</font>

In [2]:
# pd.options.display.notebook_repr_html = True
# df = pd.DataFrame(d.data, columns=d.feature_names)
# df['y'] = d.target
# df.head()

#df.colummns selects first 4 columns of data. ix selects 1st, 2nd, 3rd and 7th rows of the table 
pd.set_option('precision',2)
df[df.columns[:4]].describe().ix[[1,2,3,7]]

NameError: name 'pd' is not defined

<b>Merge Files</b>

In [48]:
data1 = pd.DataFrame({'X1':['a','b','c'],'X2':['1','2','3']}) 
data2 = pd.DataFrame({'X1':['a','b','d'], 'X3':['2','4','8']})

from IPython.display import display, HTML
display_side_by_side((display(HTML(data1.to_html(index=False)))), (display(HTML(data2.to_html(index=False)))))

AttributeError: 'NoneType' object has no attribute 'to_html'

In [47]:
#Left Join: only include keys from data1
df_LeftJoin = pd.merge(data1, data2, how='left', on='X1')
display_side_by_side(data1, data2, df_LeftJoin)

In [45]:
#Right Join: only include keys from data2
df_RightJoin = pd.merge(data1, data2, how='right', on='X1')
display_side_by_side(data1, data2, df_RightJoin)

In [46]:
#Inner Join: only key values present in both data1 and data2
df_InnerJoin = pd.merge(data1, data2, how='inner', on='X1')
display_side_by_side(data1, data2, df_InnerJoin)

In [29]:
#Outer Join: key values in either data1 or data2
df_OuterJoin = pd.merge(data1, data2, how='outer', on='X1')
display_side_by_side(data1, data2, df_OuterJoin)

Join

In [ ]:
#data1.join(data2, how='right')

<b>Rename Variables No Space<b/>

In [ ]:
#df.columns = [c.replace(' ', '_') for c in df.columns]

In [7]:
# #print attributes of dataframe

print('File Shape = ' + str(mf.shape), 
      'File Size (Row Xs Columns) = ' + str(mf.size), 
      'N = '+ str(len(mf.index)), 
      'File Data Types are:', mf.dtypes
       , sep='\n')

File Shape = (4, 2)
File Size (Row Xs Columns) = 8
N = 4
File Data Types are:
ID          int64
VAR0001    object
dtype: object

<b>Data Types<b/>

In [25]:
# type for ID and VAR0001
x = type(mf.ID[0])
y = type(mf.VAR0001[0])
print(x,y)

<class 'numpy.int64'> <class 'str'>

<b>Directory Listing and Interrogating<b/>

In [4]:
#list what objects are in a specific directory
# import os
# entries = os.listdir('/resources/data')
# print(entries)

#print the current working directory and the files in the cwd

import os 
files = os.listdir(os.curdir) 
#use percent to print working directory inline
files1 = %pwd

print(files, files1)

['MY NOTES.ipynb', '.ipynb_checkpoints'] /Users/jparryus.ibm.com/Box Sync/Notebooks

In [ ]:
import pandas as pd

In [19]:
#creating output format
from IPython.display import display_html
def display_side_by_side(*args):
    html_str=''
    for df in args:
        html_str+=df.to_html()
    display_html(html_str.replace('table','table style="display:inline"'),raw=True)

In [8]:
data1 = pd.read_csv('/Users/jparryus.ibm.com/Box Sync/Learning/PYRK8/Pandas Merge/data1.csv')
data2 = pd.read_csv('/Users/jparryus.ibm.com/Box Sync/Learning/PYRK8/Pandas Merge/data12.csv')
data3 = pd.read_csv('/Users/jparryus.ibm.com/Box Sync/Learning/PYRK8/Pandas Merge/data12.csv')

display_side_by_side(data1,data2, data3)

,X1,X2
0,a,1
1,b,2
2,c,3
,X1,X3
0,a,2
1,b,4
2,d,8
,X1,X3
0,a,2
1,b,4
2,d,8

In [ ]:
data1.

In [10]:
datax = data1.to_html()
datax

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>X1</th>\n      <th>X2</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>a</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>b</td>\n      <td>2</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>c</td>\n      <td>3</td>\n    </tr>\n  </tbody>\n</table>'

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>X1</th>\n      <th>X2</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>a</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>b</td>\n      <td>2</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>c</td>\n      <td>3</td>\n    </tr>\n  </tbody>\n</table>'

In [38]:
x = mf.VAR0001[0].lower()
x

'a'

<b>Strings<b/>

<b> Later<b/>

<b>Loops<b/>

In [69]:
#Ex1 print each member of the tuple

tuple1 = ("disco",10,1.2 )
i = len(tuple1)
i=(i-1)
for i in range(i+1):
    print(tuple1[i])

disco
10
1.2

In [71]:
#Ex2 print each nested member of the tuple
NestedT = ((1, 2), (3,4,5),(6,7,8,9),(10,11,12,13,14))
n = NestedT
a = len(n)

for i in range(a):
    b = n[i]
    c = b[i:a+1]
    print(c)

(1, 2)
(4, 5)
(8, 9)
(13, 14)

In [74]:
#loop this (above)


print("Element 1, 1 of Tuple: ",   n[0][0])
print("Element 1, 2 of Tuple: ",   n[0][1])
print("Element 2, 1 of Tuple: ",   n[1][0])
print("Element 2, 2 of Tuple: ",   n[1][1])
print("Element 2, 3 of Tuple: ",   n[1][2])

Element 1, 1 of Tuple:  1
Element 1, 2 of Tuple:  2
Element 2, 1 of Tuple:  3
Element 2, 2 of Tuple:  4
Element 2, 3 of Tuple:  5

In [ ]:
#create a separate csv for each row: LATER

#for ID in myfile:
#    TheCurrentMonth = pd.read_csv('MonthlyDataSplit/Day/Day%s.csv' % EachMonth)
#    MeanDailyTemperaturesForCurrentMonth = TheCurrentMonth.groupby('Day')['AirTemperature'].mean().reset_index(name='MeanDailyAirTemperature')
#     with open('my_csv.csv', 'a') as f:
#         df.to_csv(f, header=False)

<b>Crosstabulation and Descriptives<b/>

In [ ]:
#pd.crosstab(df.City, df.Complaint_Type, rownames = ['A'], colnames= 'B')

['MY NOTES.ipynb', '.ipynb_checkpoints'] /Users/jparryus.ibm.com/Box Sync/Notebooks

In [2]:
# data1 = pd.read_csv('/Users/jparryus.ibm.com/Box Sync/Learning/PYRK8/Pandas Merge/data1.csv')
# data2 = pd.read_csv('/Users/jparryus.ibm.com/Box Sync/Learning/PYRK8/Pandas Merge/data12.csv')

data1.head()

  X1  X2
0  a   1
1  b   2
2  c   3

<b>Output Formatting</b>

In [ ]:
#creating output format that will place output tables side by side
from IPython.display import display_html
def display_side_by_side(*args):
    html_str=''
    for df in args:
        html_str+=df.to_html()
    display_html(html_str.replace('table','table style="display:inline"'),raw=True)

#### Get rid of ugly index in header tables

In [11]:
#make data1. Use 
data1 = pd.DataFrame({'X1':['a','b','c'],'X2':['1','2','3']}) 
#from: https://stackoverflow.com/questions/21256013/pandas-dataframe-hide-index-functionality, searched: suppress index from header

from IPython.display import display, HTML

#display(HTML(DATAFRAME.to_html(index=False)))
display(HTML(data1.to_html(index=False)))

<b>First Attempts<b/>

In [ ]:
################################Other Attempts######################################    
# #create data out of thin air! Probably not the best way to do it, but it works :)
# with open('/resources/data/xample1.txt', 'w') as writefile:
#     writefile.write('ID, VAR0001 \n')
#     writefile.write('1,A \n')
#     writefile.write('2,B \n')
#     writefile.write('3,C \n')
    
#add column names using Pandas
#if there were no header, this is how you add a header/var names in pandas
#myfile = pd.read_csv('/resources/data/xample1.txt', 
#                  sep='\,', 
#                  names=['ID', 'VAR0001'])
#myfile = pd.read_csv('/resources/data/xample1.txt', sep=',')
# Check whether write to file worked
#Create a file called xample1 and populate with 3 rows and three columns each corresponding to 1,A /n 2,B .... etc. 

#create file
#f= open("/resources/data/xample1.txt","w+")

<img alt="IBM" align="right" src="https://raw.githubusercontent.com/dcinnovator/DS/master/IBM%20LOGO%20small.png" > <br><br><br><br>