<img alt="IBM" align="left" src="https://raw.githubusercontent.com/dcinnovator/DS/master/IBM%20logo.png" > <br><br><br><br>

<b>My Notes<b/>

In [2]:
#print working directory
pwd

'/Users/jparryus.ibm.com/Box Sync/Notebooks'

In [3]:
#conda install git
#installed not sure how to use yet

In [5]:
#although there are many ways to manipulate files, pandas is widely used and should be familiar. This example uses pandas for data manipulation...

import pandas as pd

<b>Create/Read/Write/Populate/Describe files<b/>

In [5]:
# Creating the first Dataframe using dictionary - much simpler than python below
myfile = pd.DataFrame({'ID':[1,2,3],'VAR0001':['A','B','C']}) 
myfile.head()

   ID VAR0001
0   1       A
1   2       B
2   3       C

In [6]:
#add a 4th row with 4,D use append. ignore_index prevents index from starting over with new data appended.

df2 = pd.DataFrame({'ID':[4],'VAR0001':['D']}) 

myfile = myfile.append(df2, ignore_index = True)
myfile.head(50)
mf= myfile
mf

   ID VAR0001
0   1       A
1   2       B
2   3       C
3   4       D

In [10]:
import pandas as pd
from sklearn import datasets as d
d = d.load_iris()

In [16]:
pd.options.display.notebook_repr_html = True
df = pd.DataFrame(d.data, columns=d.feature_names)
df['y'] = d.target
df.head()

#df.colummns selects first 4 columns of data. ix selects 1st, 2nd, 3rd and 7th rows of the table 
pd.set_option('precision',2)
df[df.columns[:4]].describe().ix[[1,2,3,7]]

/Users/jparryus.ibm.com/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

      sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
mean               5.84              3.06               3.76              1.20
std                0.83              0.44               1.77              0.76
min                4.30              2.00               1.00              0.10
max                7.90              4.40               6.90              2.50

<b>Rename Variables No Space<b/>

In [ ]:
#df.columns = [c.replace(' ', '_') for c in df.columns]

In [7]:
# #print attributes of dataframe

print('File Shape = ' + str(mf.shape), 
      'File Size (Row Xs Columns) = ' + str(mf.size), 
      'N = '+ str(len(mf.index)), 
      'File Data Types are:', mf.dtypes
       , sep='\n')

File Shape = (4, 2)
File Size (Row Xs Columns) = 8
N = 4
File Data Types are:
ID          int64
VAR0001    object
dtype: object

<b>Data Types<b/>

In [25]:
# type for ID and VAR0001
x = type(mf.ID[0])
y = type(mf.VAR0001[0])
print(x,y)

<class 'numpy.int64'> <class 'str'>

<b>Directory Listing and Interrogating<b/>

In [125]:
#list what objects are in a directory
import os
entries = os.listdir('/resources/data')
print(entries)

['xample1.txt', 'Example1.txt', 'Example2.txt']

In [38]:
x = mf.VAR0001[0].lower()
x

'a'

<b>Strings<b/>

<b> Later<b/>

<b>Loops<b/>

In [69]:
#Ex1 print each member of the tuple

tuple1 = ("disco",10,1.2 )
i = len(tuple1)
i=(i-1)
for i in range(i+1):
    print(tuple1[i])

disco
10
1.2

In [71]:
#Ex2 print each nested member of the tuple
NestedT = ((1, 2), (3,4,5),(6,7,8,9),(10,11,12,13,14))
n = NestedT
a = len(n)

for i in range(a):
    b = n[i]
    c = b[i:a+1]
    print(c)

(1, 2)
(4, 5)
(8, 9)
(13, 14)

In [74]:
#loop this (above)


print("Element 1, 1 of Tuple: ",   n[0][0])
print("Element 1, 2 of Tuple: ",   n[0][1])
print("Element 2, 1 of Tuple: ",   n[1][0])
print("Element 2, 2 of Tuple: ",   n[1][1])
print("Element 2, 3 of Tuple: ",   n[1][2])

Element 1, 1 of Tuple:  1
Element 1, 2 of Tuple:  2
Element 2, 1 of Tuple:  3
Element 2, 2 of Tuple:  4
Element 2, 3 of Tuple:  5

In [ ]:
#create a separate csv for each row: LATER

#for ID in myfile:
#    TheCurrentMonth = pd.read_csv('MonthlyDataSplit/Day/Day%s.csv' % EachMonth)
#    MeanDailyTemperaturesForCurrentMonth = TheCurrentMonth.groupby('Day')['AirTemperature'].mean().reset_index(name='MeanDailyAirTemperature')
#     with open('my_csv.csv', 'a') as f:
#         df.to_csv(f, header=False)

<b>Crosstabulation and Descriptives<b/>

In [ ]:
#pd.crosstab(df.City, df.Complaint_Type, rownames = ['A'], colnames= 'B')

<b>First Attempts<b/>

In [ ]:
################################Other Attempts######################################    
# #create data out of thin air! Probably not the best way to do it, but it works :)
# with open('/resources/data/xample1.txt', 'w') as writefile:
#     writefile.write('ID, VAR0001 \n')
#     writefile.write('1,A \n')
#     writefile.write('2,B \n')
#     writefile.write('3,C \n')
    
#add column names using Pandas
#if there were no header, this is how you add a header/var names in pandas
#myfile = pd.read_csv('/resources/data/xample1.txt', 
#                  sep='\,', 
#                  names=['ID', 'VAR0001'])
#myfile = pd.read_csv('/resources/data/xample1.txt', sep=',')
# Check whether write to file worked
#Create a file called xample1 and populate with 3 rows and three columns each corresponding to 1,A /n 2,B .... etc. 

#create file
#f= open("/resources/data/xample1.txt","w+")